*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans',sans-serif;
}

body{
    background: #D0D3D4;
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidenavbar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #000000;
    padding: 30px 0;
}

.wrapper .sidenavbar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,25,225,0.05);
}

.wrapper .sidenavbar ul li a{
    color: #bdbdbd;
    display: block;
}

.wrapper .sidenavbar ul li a .fas{
    width: 25px;
}

.wrapper .sidenavbar ul li:hover{
    background:#117864;
}

.wrapper .sidenavbar ul li :hover a{
    color:#fff;
}

.wrapper .content{
    width: 100%;
    margin-left: 200px;
}

.wrapper .content .header{
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}

.wrapper .edit-profile
{
    box-shadow:8px 4px 30px 20px rgba(0,0,0,0.2);
    padding: 45px;
    margin: auto;
    width:35%;
    background-color:rgb(143, 218, 153);
    border-radius: 5px;
}

#text2
{
    width: 100%; /* Full width */
    padding: 8px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 3px; /* Add a top margin */
    margin-bottom: 10px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

h3
{
    color: rgb(150, 180, 176);
    text-shadow: 2px 2px 4px #000000;
    text-align: left;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 10px;
}

h1{
    font-size: 40px;
    text-align: center;
    color: #3c3939;
}

h2
{
    color: #117864;
    text-shadow:2px 2px 2px hsl(140, 3%, 17%);
}

input[type=submit]
{

    background-color: #117864;
    color: white;
    padding: 10px 15px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit1]
{

    background-color: #000000;
    color: white;
    padding: 10px 8px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset]
{
   
    background-color: #c34e27;
    color: white;
    padding: 10px 15px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}




